body {
    background-color: bisque;
}

#logga {
    display: flex;
    justify-content: center;
    align-items: center;
}

#currentMeal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#currentMealImg {
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
    min-height: 300px;
}

#generateMeal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#mealImgAndIngredients {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    margin-left: 30px;
}

#currentInstructions {
    min-width: 250px;
    max-width: 250px;
}

#currentIngredients {
    min-width: 250px;
    max-width: 250px;
}